<!DOCTYPE html>
<html>

<head>
  <title>Tobias Munzert</title>

  <meta name="author" content="Tobias Munzert">
  <meta name="keywords"
    content="Tobias, Munzert, Tobias Munzert, München, Munich, Software, Git, Coding, Photography, Photo, Lego, Bricks, AFOL, AFOB, DIY">
  <meta name="description"
    content="Discover the portfolio of Tobias Munzert, a versatile developer and photographer, showcasing experimental and fun projects as well as captivating photography. Explore a blend of creativity and technical expertise.">

  <meta name="viewport"
    content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, height=device-height" />

  <link rel="canonical" href="https://tmunz.art" />
  <link rel="manifest" href="app.webmanifest" />
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <meta name="theme-color" content="#dddddd">

  <script type="text/javascript">
    // Single Page Apps for GitHub Pages
    // MIT License
    // https://github.com/rafgraph/spa-github-pages
    // This script checks to see if a redirect is present in the query string,
    // converts it back into the correct url and adds it to the
    // browser's history using window.history.replaceState(...),
    // which won't cause the browser to attempt to load the new url.
    // When the single page app is loaded further down in this file,
    // the correct url will be waiting in the browser's history for
    // the single page app to route accordingly.
    (function (l) {
      if (l.search[1] === '/') {
        var decoded = l.search.slice(1).split('&').map(function (s) {
          return s.replace(/~and~/g, '&')
        }).join('?');
        window.history.replaceState(null, null,
          l.pathname.slice(0, -1) + decoded + l.hash
        );
      }
    }(window.location))
  </script>
</head>

<body>
  <div id="app"></div>
</body>

</html>