.camera-viewer {
  --cameraOverlayColor: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  position: relative;

  .camera-viewer-overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    pointer-events: none;
    display: flex;
    justify-content: space-between;

    .camera-viewer-left,
    .camera-viewer-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &.camera-viewer-left {
        .title {
          position: absolute;
          top: 0px;
          left: 20px;
          font-size: 0;

          &:first-letter {
            font-size: 8vw;
          }
        }

        .caption {
          position: absolute;
          bottom: 20px;
          left: 20px;
        }
      }

      &.camera-viewer-right .title {
        position: absolute;
        top: 10px;
        right: 10px;
      }

      &::before,
      &::after {
        content: "";
        display: block;
        height: 5vw;
        width: 5vw;
        border: 1.5px solid var(--cameraOverlayColor);
      }

      &.camera-viewer-left::before {
        border-width: 1.5px 0 0 1.5px;
      }

      &.camera-viewer-left::after {
        border-width: 0 0 1.5px 1.5px;
      }

      &.camera-viewer-right::before {
        border-width: 1.5px 1.5px 0 0;
      }

      &.camera-viewer-right::after {
        border-width: 0 1.5px 1.5px 0;
      }
    }
  }
}