.polaroid {
  text-align: center;
  border-radius: 5px;

  .polaroid-frontside,
  .polaroid-backside {
    background:
      linear-gradient(30deg, transparent 4px, rgba(0, 0, 0, 0.02) 7px, transparent 8px),
      linear-gradient(-30deg, transparent 4px, rgba(0, 0, 0, 0.02) 7px, transparent 8px),
      rgba(240, 240, 240, 1);
    background-size: 14px 8px, 14px 8px;
    background-position: 0px 0px, 0px 0px;
    box-sizing: border-box;

    &.polaroid-frontside {
      padding: 19px 19px 87px;
    }

    &.polaroid-backside {
      padding: 19px 19px;
      width: 100%;
      height: 100%;
    }
  }

  .polaroid-image {
    width: 306px;
    height: 313px;

    &>*,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      background-color: rgba(0, 0, 0, 1);
      pointer-events: none;
      position: relative;
    }
  }

  .polaroid-caption {
    position: absolute;
    font-family: kristi, sans-serif;
    left: 50%;
    transform: rotate(-10deg) translate(-50%, -0.5em);
    font-size: 6em;
  }
}