.oil-painting-with-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .controls {
    position: absolute;
    top: 50px;
    z-index: 1;
  }

  .oil-painting {
    position: relative;
    width: 100%;
    height: 100%;
  }
}