.mux-dock-item {
  position: relative;
  /* transition: width 0.1s ease; */

  button {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 4px;
    gap: 6px;
    padding: 4px;
    border-radius: var(--muxBorderRadius);
    display: grid;
    grid-template-rows: 1fr 4px;
    justify-items: center;
  }
}
