.vita {

  .life,
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
  }

  color: black;

  .company-logo {
    max-width: 100px;
  }
}