.vita-frame {
  .background-image {
    transition: filter 0.8s ease;

    &.parallax {
      transition: transform 0.2s ease, filter 0.8s ease;
    }
  }

  &.active .background-image {
    filter: blur(100px); /* brightness(0) contrast(1.0) brightness(1.0) saturate(1.0)*/
  }
}

.vita {
  width: 100%;
  height: 100%;
  position: relative;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}