.vita-content {
  padding: var(--gapSize) var(--gapSize) var(--gapSize) 4px;
  columns: 350px;
  gap: var(--gapSize);
  padding-bottom: var(--gapSize);

  &>* {
    margin-bottom: 50px;

    &:not(.professional-life) {
      break-inside: avoid;
    }
  }

  h2 {
    margin-top: 0;
    border-bottom: 1px solid var(--textColorLight);
  }

  .social-links {
    position: sticky;
    z-index: 2;
  }

  .academic-life {
    .academic-icons {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: var(--gapSize);
      align-items: flex-start;
      align-content: center;

      .academic-icon {
        mix-blend-mode: difference;
        color: white;
        fill: white;

        display: inline-block;
        min-width: 50px;
        max-width: 350px;
        width: 50%;
      }
    }
  }

  .professional-life {
    .professional-life-card {
      display: inline-flex;
      width: 100%;
      box-sizing: border-box;
      flex-direction: row;
      flex-wrap: nowrap;
      flex-grow: 1;
      flex-basis: 0;
      align-items: flex-start;
      align-content: center;
      margin-bottom: var(--gapSize);
      padding: 10px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(8px);
      transition: background-color 0.3s, box-shadow 0.3s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
      }

      .company-logo {
        width: 50px;
        height: 50px;
        object-fit: contain;
      }

      .company-text {
        margin-left: 20px;

        .company-date,
        .company-role {
          color: var(--textColorLight);
        }

        .company-description {
          padding-inline-start: 10px;

          >li {
            list-style-type: circle;
          }
        }
      }
    }
  }

  .imprint {
    .imprint-content {
      display: flex;
      width: 100%;
      flex-direction: row;
      gap: var(--gapSize);
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}