.projects-frame {
  path {
    transition: 0.6s linear;
  }

  &.active {
    #g {
      d: path("M 125,1875 L 2875,1875 L 2875,1900 L 125,1900 Z");
    }

    #j {
      d: path("M 125,1625 L 2875,1625 L 2875,125 L 125,125 Z");
    }

    #l {
      d: path("M 250,1500 L 250,250 L 2750,250 L 2750,1369 L 875,1369 L 875,1244 L 275,1244 L 275,1500 L 275,1475 L 275,275 L 2725,275 L 2725,1350 L 2725,1325 L 2725,1325 L 2725,1350 L 2725,275 L 2725,300 L 2725,1350 L 2725,1325 L 2725,300 L 2725,275 L 275,275 L 275,1500 L 2750,1500 L 2750,250 L 250,250 L 250,1500 L 2750,1500 L 2750,250 L 250,250 L 250,1500 L 2750,1500");
    }

    #n {
      d: path("M 125,1750 L 2875,1750 L 2875,1775 L 125,1775 Z");
    }

    #p {
      d: path("M 2625,1775 L 375,1775 L 375,1775 L 2625,1775 L 2625,1775 L 375,1775 L 375,1775 L 2625,1775 L 2625,1775 L 375,1775 L 375,1775 L 1125,1775 L 1125,1775 L 1875,1775 L 1875,1775 L 2625,1775");
    }
  }

  .background-image {
    background-image:
      linear-gradient(90deg, rgba(16, 16, 16, 0.9) 0%, rgba(0, 0, 0, 0.6) 80%),
      linear-gradient(#222 2px, transparent 2px),
      linear-gradient(90deg,
        rgba(255, 0, 0, 0.5) 4px, transparent 4px, transparent 5px,
        rgba(0, 255, 0, 0.5) 5px, rgba(0, 255, 0, 0.5) 9px, transparent 9px, transparent 10px,
        rgba(0, 0, 255, 0.5) 10px, rgba(0, 0, 255, 0.5) 14px, transparent 14px),
      linear-gradient(-45deg, purple 0%, green 100%);
    background-size: 100% 100%, 15px 30px, 15px 30px, 100% 100%;
    animation: 15s lcdscreen linear infinite;
  }
}

.projects {
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  color: var(--textColor);

  .project-about {
    padding: var(--gapSize);
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);

    .github-link {
      position: absolute;
      top: var(--gapSize);
      right: var(--gapSize);

      .icon {
        width: 30px;
        text-align: center;
      }

      .tooltip {
        position: absolute;
        top: -14px;
        font-size: 0.8em;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        opacity: 0;
        white-space: nowrap;
        transition: all 0.3s ease;
      }

      &:hover {
        .tooltip {
          opacity: 1;
        }
      }
    }
  }

  /* &.project-selected {
    grid-template-columns: 50% 50%;
  }

  .selection-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .selection-type {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-row-gap: var(--gapSize);
      border-bottom: 1px solid white;
    }

    .project-selection {
      position: relative;

      .cli {
        position: absolute;
        resize: none;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }

  .content-wrapper {
    background: white;
    height: 100%;
    width: 100%;
    overflow: auto;
  } */
}