.social-links {
  list-style-type: none;

  li {
    text-decoration: none;
    float: left;
    color: white;
    position: relative;
    padding: 10px;
    mix-blend-mode: difference;

    svg {
      height: 30px;
      fill: white;
    }

    .tooltip {
      position: absolute;
      top: -10px;
      margin-left: auto;
      margin-right: auto;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      opacity: 0;
      white-space: nowrap;
      transition: all 0.3s ease;
    }

    &:hover {
      .tooltip {
        opacity: 1;
      }
    }
  }

}
