.bricks {

  width: calc(100% + var(--frame-title-size));
  height: calc(100% + var(--frame-close-button-size));

  margin-left: calc(-1 * var(--frame-title-size));
  margin-top: calc(-1 * var(--frame-close-button-size));
  scroll-margin-top: var(--frame-close-button-size);

  --actionColor: rgb(255, 29, 29);
  --activeColor: rgb(255, 74, 74);

  section .bricks-content {
    padding-left: var(--frame-title-size);
  }
}