.mux-desktop {
  height: 100%;
  overflow: hidden;
  position: relative;

  .mux-desktop-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }

}