.mux-desktop {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 60px 1fr 60px;
  grid-template-areas: "selection main main" "selection main main" "menu taskbar taskbar";
  height: 100%;
  width: 100%;
  gap: 4px;

  .mux-menu-button {
    grid-area: menu;
  }

  .mux-taskbar {
    grid-area: taskbar;
  }

  .mux-main-window {
    grid-area: main;
  }

  .mux-program-selection {
    grid-area: selection;
  }

  &>* {
    background-color: white;
  }
}