.mux-program-window {
  position: absolute;
  display: grid;
  grid-template-rows: 40px 1fr;
  border: 1px solid #ccc;

  .resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    background-color: green;
  }
}