.image-gallery {
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);

  .image-grid {
    display: grid;
    grid-row-gap: 10px;
    transition: 0.3s all ease-in-out;
    justify-items: center;
    align-items: center;

    &.single-image-mode {
      grid-row-gap: 0px;

      .image-row {
        grid-column-gap: 0px;

        .image-entry:not(.active) {
          max-height: 0;
        }
      }
    }

    .image-row {
      display: grid;
      grid-column-gap: 10px;
      transition: 0.3s all ease-in-out;
    }
  }
}