.image-entry {
  max-height: 90svh; /* TODO: improve this in the future */
  transition: 0.3s max-height ease-in-out;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}