.cli {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  resize: none;
  padding: 10px;
  color: greenyellow;
  outline: none;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
}