.image-entry {
  position: relative;
  max-height: 100%;
  display: inline-block;


  &.active .image-entry-overlay.user-action {

    .control-bar {
      height: 80px;
      transition: height 0.3s ease 0.2s;
    }


    .close-button.active {
      clip-path: circle(60px at 50% 100%);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
  }

  .image-entry-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .close-button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      clip-path: circle(70.8% at 50% 50%);
      align-items: end;
      /* 1/sqrt(2) */

      &.active {
        clip-path: circle(0 at 50% 100%);
      }
    }

    .control-bar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
      height: 0;
      transition: height 0.2s ease 0.2s;
      position: relative;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      .world-map {
        position: absolute;
        top: -60px;
        left: -20px;
      }

      .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: #fff;

        .location {
          color: #aaa;
        }
      }

      .controls {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;

        button {
          min-width: 50px;
        }
      }
    }
  }

  .selection-overlay {
    pointer-events: all;
    cursor: pointer;
  }
}