.image-gallery {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .image-grid {
    position: relative;
    min-height: 100%;

    &>* {
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: top left;
    }

    .image-grid-title {
      left: 0;
      right: 0;
      opacity: 1;
      transition: opacity 0.4s ease;

      h2 {
        display: block;
        transition: transform 0.4s ease;
        color: rgba(255, 255, 255, 0.7);
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      }
    }

    .image-grid-entry {
      transition: opacity 1s ease, transform 0.4s ease, z-index 0s linear 0.4s;
      z-index: 1;
      opacity: 0;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);

      &.show {
        opacity: 1;
      }

      .image-entry {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      .control-buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);

        &.control-active {
          .control-navigation-wrapper {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
          }

          .img-button {
            opacity: 1;
            clip-path: circle(50px at 50% 50%);

            .icon:nth-child(1) {
              transform: translateX(21px);
            }

            .icon:nth-child(2) {
              transform: translateX(-21px);
            }
          }

          &.hide-controls {
            .control-navigation-wrapper {
              transform: translate(-50%, -50%) scale(0);
            }

            .img-button {
              clip-path: circle(0px at 50% 50%);
            }
          }
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.2);

          .icon {
            height: 30px;
            width: 30px;
            display: inline-block;
          }
        }

        &>* {
          position: absolute;
          top: 50%;
          left: 50%;
          transition: transform 0.6s ease 0.2s, opacity 0.6s ease, clip-path 0.6s ease;

          &.control-navigation-wrapper {
            opacity: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            transform: translate(-50%, -50%) scale(0);

            .prev-button,
            .next-button {
              height: 60px;
              width: 60px;
              border-radius: 100%;
              margin: 30px;
            }
          }

          &.img-button {
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            opacity: 0;
            clip-path: circle(88% at 50% 50%);

            .img-button-circle {
              width: 120px;
              height: 120px;
              box-sizing: border-box;
              border-radius: 50%;
              background-color: rgba(255, 255, 255, 0.2);
              border: 3px solid var(--actionColor);
              display: flex;
              justify-content: center;
              align-items: center;

              .icon {
                transition: transform 1s ease;
              }
            }

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.single-image-mode {
    overflow: hidden;

    .image-grid {
      .image-grid-title {
        opacity: 0;

        h2 {
          transform: translateX(100%);
        }
      }

      .image-grid-entry {
        transition: opacity 0.4s ease, transform 0.4s ease, z-index 0s linear;

        &:not(.active) {
          opacity: 0;
          z-index: 0;
        }
      }
    }
  }
}