.image-gallery {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  height: 100%;
  overflow: auto;

  &.single-image-mode {
    overflow: hidden;

    .image-grid {
      .image-grid-entry {
        transition: opacity 0.4s ease, transform 0.4s ease, z-index 0s linear;

        &:not(.active) {
          opacity: 0;
          z-index: 0;

          button {
            pointer-events: none;
          }
        }
      }
    }
  }

  .image-grid {
    position: relative;

    .image-grid-entry {
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: top left;
      transition: opacity 0.4s ease, transform 0.4s ease, z-index 0s linear 0.4s;
      opacity: 1;
      z-index: 1;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
    }
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}