@keyframes translateAnimation {
  0% {
    transform: translate(-25%, -25%) rotate(3deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes translateAnimationReverse {
  0% {
    transform: translate(-100%, -100%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(3deg);
  }
}


.paint-drag-board-item {

  &.drag-board-item-drag-disabled {
    transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
    animation: translateAnimation 0.5s ease-in-out forwards;
  }

  &:not(.drag-board-item-drag-disabled) {
    animation: translateAnimationReverse 0.5s ease-in-out forwards;
  }

  .title {
    text-align: center;
    display: inline-block;
    transform: rotate(-5deg);
    margin: 0 auto;
    font-family: kristi, sans-serif;
    font-size: 4em;
    max-width: 200px;
    color: #68461a;
  }
  
}