.photo {
  --actionColor: #444;
  --activeColor: #222;
  --photoBackgroundColor: #aadbc3;
  --sectionMargin: 20px;

  @media screen and (max-width: 800px) {
    --sectionMargin: 0px;
  }

  height: 100%;
  width: 100%;
  overflow: auto;
  margin-left: calc(-1* var(--frame-title-size));
  padding-left: var(--frame-title-size);
  margin-top: calc(-1* var(--frame-close-button-size));
  padding-top: var(--frame-close-button-size);

  .camera-viewer {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;

    .camera-viewer-overlay {
      left: var(--sectionMargin);
      right: var(--sectionMargin);
    }
  }

  .camera-viewer-focusing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .photo-section {
    margin: 0 var(--sectionMargin);
    padding: 0 10px;

    &:first-of-type {
      .photo-section-title {
        margin-top: -100vh;
      }
    }

    .photo-image-placeholder {
      height: 100vh;
    }

    .photo-section-title {
      position: sticky;
      top: 20px;
      z-index: 3;
      display: flex;
      justify-content: space-between;
      color: #fff;
      mix-blend-mode: difference;
      pointer-events: none;

      .photo-section-header-letter {
        margin: 0;
        font-size: 0;

        &:first-letter {
          font-size: 8vw;
        }
      }

      .photo-section-header {
        text-align: right;
      }
    }

    .photo-section-content {
      width: 100%;
    }
  }
}
