.photo-button {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(88% at 50% 50%);

  .photo-button-circle {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 3px solid var(--actionColor);
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 32px;
      height: 32px;
      transition: transform 1s ease;
    }
  }

  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
    clip-path: circle(50px at 50% 50%);

    .icon:nth-child(1) {
      transform: translateX(22px);
    }

    .icon:nth-child(2) {
      transform: translateX(-22px);
    }
  }
}