.aircraft-content {
  .aircraft-grid {
    display: flex;

    h1 {
      background: rgb(255, 0, 0);
      margin: 0;
    }

    .aircraft-image {
      object-fit: cover;
      max-width: 25%;
      width: 200px;
    }
  }
}