.photo-entry {
  --height: 300px;

  @media (max-width: 800px) {
    --height: 200px;
  }

  --heightExpanded: calc(2 * var(--height));
  --filmStripSize: 40px;

  position: relative;
  transition: margin 0.1s ease-in-out 0.2s;
  margin: 0;

  img {
    width: auto;
    max-width: 100%;
    height: var(--height);
    object-fit: cover;
  }

  .photo-entry-main {
    display: inline-block;
    position: relative;
    z-index: 1;

    img {
      animation: mainAnimation_ 0.3s ease-in forwards;
    }
  }

  .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: calc(-1 * var(--filmStripSize));
    padding: var(--filmStripSize) 0;
    overflow: hidden;

    .film-strip {
      position: absolute;
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
      transition: width 0.4s ease-in-out 0.2s;

      .world-map {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
      }
    }

    .rgba-image {
      transition: opacity 0.2s linear 0.4s;
      opacity: 0;
      left: 0;
      top: var(--filmStripSize);
      position: absolute;
      mix-blend-mode: lighten;
      pointer-events: none;
      animation: _ 0.4s ease-in forwards;

      &.r {
        animation-name: rgbaAnimationR_;
      }

      &.g {
        animation-name: rgbaAnimationG_;
      }

      &.b {
        animation-name: rgbaAnimationB_;
      }
    }
  }

  &.active {
    margin: var(--filmStripSize) 0;
    transition: margin 0.3s ease-in-out;

    .film-strip {
      width: 100%;
      transition-delay: 0s;
    }

    .photo-entry-main img {
      animation: mainAnimation 0.4s ease-in forwards;
    }

    .rgba-image {
      opacity: 1;
      transition: opacity 0.4s linear;
      animation: _ 0.4s ease-in forwards;

      &.r {
        animation-name: rgbaAnimationR;
      }

      &.g {
        animation-name: rgbaAnimationG;
      }

      &.b {
        animation-name: rgbaAnimationB;
      }
    }
  }
}

@keyframes mainAnimation {
  0% {
    opacity: 1;
    height: var(--height);
  }

  10% {
    opacity: 0;
  }

  90% {
    opacity: 0;
    height: var(--heightExpanded);
  }

  100% {
    opacity: 1;
    height: var(--heightExpanded);
  }
}

@keyframes mainAnimation_ {
  0% {
    opacity: 1;
    height: var(--heightExpanded);
  }

  10% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    height: var(--height);
    opacity: 1;
  }
}

@keyframes rgbaAnimationR {
  0% {
    transform: translate(0, 0);
    height: var(--height);
  }

  50% {
    transform: translate(10%, 25%);
    height: var(--height);
  }

  100% {
    transform: translate(0, 0);
    height: var(--heightExpanded);
  }
}

@keyframes rgbaAnimationG {
  0% {
    transform: translate(0, 0);
    height: var(--height);
  }

  50% {
    transform: translate(30%, 25%);
    height: var(--height);
  }

  100% {
    transform: translate(0, 0);
    height: var(--heightExpanded);
  }
}

@keyframes rgbaAnimationB {
  0% {
    transform: translate(0, 0);
    height: var(--height);
  }

  50% {
    transform: translate(50%, 25%);
    height: var(--height);
  }

  100% {
    transform: translate(0, 0);
    height: var(--heightExpanded);
  }
}

@keyframes rgbaAnimationR_ {
  0% {
    transform: translate(0, 0);
    height: var(--heightExpanded);
  }

  50% {
    transform: translate(10%, 25%);
    height: var(--height);
  }

  100% {
    transform: translate(0, 0);
    height: var(--height);
  }
}

@keyframes rgbaAnimationG_ {
  0% {
    transform: translate(0, 0);
    height: var(--heightExpanded);
  }

  50% {
    transform: translate(30%, 25%);
    height: var(--height);
  }

  100% {
    transform: translate(0, 0);
    height: var(--height);
  }
}

@keyframes rgbaAnimationB_ {
  0% {
    transform: translate(0, 0);
    height: var(--heightExpanded);
  }

  50% {
    transform: translate(50%, 25%);
    height: var(--height);
  }

  100% {
    transform: translate(0, 0);
    height: var(--height);
  }
}