.mb-300sl-content {
  color: white; 
  opacity: 0.9;
  font-size: 15vw;
  padding-top: 30px;
  font-weight: 900;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: top;
  mix-blend-mode: difference;
}