.mb-300sl-content {
  padding-top: 50vh;
  color: white;

  .sticky-container {
    .sticky-content {
      width: clamp(150px, 100%, 400px);
      top: calc(13px + var(--frame-close-button-size));
      position: sticky;
      margin-bottom: 50px;

      p {
        text-align: justify;
      }
    }
    &::after {
      content: '';
      display: block;
      height: 250px;
    }
  }

  h1 {
    opacity: 0.9;
    font-size: 15vw;
    vertical-align: middle;
    line-height: 0.7em;
    margin-block: 0;
    font-weight: 900;
    display: inline-block;
    mix-blend-mode: difference;
  }
}