:root {
  --accentColor: #decd87;
  --backgroundColor: 0, 0, 0;
  --actionColor: #ffffff;
  --textColor: #ffffff;
  --borderColor: #ffffff;
  --errorColor: #f4511e;

  /*&.light-theme {
    --backgroundColor: 255, 255, 255;
    --textColor: #000;
    --actionColor: #666;
    --borderColor: #aaa;
  }*/
}