:root {
  --accentColor: #93dafe;
  --backgroundColor:#f7e9ce;
  --actionColor: #ff7403;
  --activeColor: #ff9e4f;
  --textColor: #444444;
  --textColorLight: #888888;
  --borderColor: #192c76;
  --errorColor: #dd614b;
  --gapSize: 20px;
}