.mux {
  --muxBackgroundColor: rgba(0, 0, 0, 0.8);
  --muxTextColor: #fff;
  --muxActiveColor: #ff7300e7;
  --muxGapSize: 4px;
  --muxMenuColor: rgba(62, 62, 62, 0.8);
  --muxCloseColor: #dd0100;
  --muxBarColor: rgba(62, 62, 62, 0.8);
  --muxBorderColor: rgba(62, 62, 62, 0.8);
  --muxBorderRadius: 2px;
}