.paint-drag-board-item {

  &:not(.active) {
    animation: wiggle 5s infinite alternate;
  }

  @keyframes wiggle {
    0% {
      transform: rotateX(-1deg) rotateY(-1deg) rotateZ(-1deg);
    }

    100% {
      transform: rotateX(1deg) rotateY(1deg) rotateZ(1deg);
    }
  }
}